<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <style>

         #active{
             width: 1200px;
             padding: 20px;
         }
         #active h1{
            font-size: 28px;
            color: mediumblue;
         }
         .datainput{
            width: 200px;
         }
         .create_active_name{
           padding: 10px 0;
           width: 250px;
           text-align: center;

         }
         .condition_information{
           width:400;
           border-radius: 5px;
           padding: 10px;
           background-color: bisque;
         }
         .content_information{
           width:400;
           border-radius: 5px;
           padding: 10px;
           background-color:lightskyblue;
         }
         .condition{
           margin-top: 20px;
           padding:5px;
           background-color:lemonchiffon;
           border-radius: 10px;
         }
         .content{
           margin-top: 20px;
           padding:5px;
           background-color:lemonchiffon;
           border-radius: 10px;
         }
         .row{
           padding: 10px 10px;
         }
     </style>
</head>
<body>

   <div id="active">
    <h1>優惠活動建立平台</h1>
    <br>
    <div class="create_active_name">
    <label for="">建立優惠活動名稱</label>
    <input v-if="modify_active_name===false" class="input is-info" type="text" placeholder="輸入優惠活動名稱" v-model="activename">
    <input v-else disabled class="input is-info" type="text" placeholder="輸入優惠活動名稱" v-model="activename">
    <br>
    </div>
    <h2 v-if="create_name_status===false"><button class="button is-info  is-rounded is-light" @click="create_name">建立名稱</button></h2>
    <h2 v-else><button class="button is-danger  is-rounded is-light" @click="modifyname">修改名稱</button></h2>
    <h2 v-if="create_name_status===true"><button class="button is-primary  is-rounded is-light" @click="select_condition">篩選活動條件</button></h2>
    <h2 v-if="create_name_status===true"><button class="button is-link is-rounded is-light" @click="select_content">選擇活動內容</button></h2>
    <div class="columns">
        <div class="column">
          <div v-show="select_condition_status===true" class="condition">
            <div class="row">
              <input type="checkbox" id="checkbox_s" v-model="checked_single">
              <label for="checkbox_s"> 根據單一活動當作總數管理</label>
              <div v-show="checked_single ===true">
                <input type="radio" id="s-y" value="Yes" v-model="singleactive">
                <label for="s-y">活動次數總數</label>
                <br>
                <input type="radio" id="s-n" value="No" v-model="singleactive">
                <label for="s-n">活動次數總數及優惠上限金額限制 </label>
                <br>
              </div>
              <br>
              <div v-show="checked_single === true && singleactive === 'Yes' ">
                <label for="">請輸入活動次數總數{{single_choice}}</label><br>
                <input class="datainput" type="number" placeholder="請輸入活動次數總數" v-model="single_number"><br>
              </div>
              <div v-show="checked_single === true && singleactive === 'No'">
                <label for="">請輸入活動次數總數{{single_choice}}</label><br>
                <input class="datainput" type="number" placeholder="請輸入活動次數總數" v-model="single_number"><br>
                <label for="">優惠上限金額</label>
                <input type="number" v-model="single_limit_number">
              </div>
            </div> 
            <div class="row">
              <input type="checkbox" id="checkbox_u" v-model="checked_user">
              <label for="checkbox_u"> 根據User當作優惠管理</label>
              <div v-show="checked_user ===true">
                <input type="radio" id="u-y" value="Yes" v-model="useractive">
                <label for="u-y">每人限制次數</label>
                <br>
                <input type="radio" id="u-n" value="No" v-model="useractive">
                <label for="u-n">每人限制次數及上限金額</label>
                <br>
              </div>
              <div v-show="checked_user === true && useractive === 'Yes' ">
                <label for="">請輸入每人限定次數{{user_choice}}</label><br>
                <input class="datainput" type="number" placeholder="請輸入每人限定次數" v-model="user_number"><br>
              </div>
              <div v-show="checked_user === true && useractive === 'No' ">
                <label for="">請輸入每人限定次數{{user_choice}}</label><br>
                <input class="datainput" type="number" placeholder="請輸入每人限定次數" v-model="user_number"><br>
                <label for="">優惠上限金額</label> 
                <input type="number" v-model="user_limit_number">
              </div>
            </div>
            <div class="row">
              <input type="checkbox" id="checkbox_t" v-model="checked_time">
              <label for="checkbox_t"> 根據時間當作活動限制</label>
              <div v-show="checked_time === true">{{time_choice}}
              <label for="">請選擇活動時間</label>
              <vue-datepicker-local v-model="range"></vue-datepicker-local>
              </div>
            </div>
            <div class="row">
              <input type="checkbox" id="checkbox_ps" v-model="checked_ps">
              <label for="checkbox_ps"> 根據特定店家進行活動</label>
              <div v-show="checked_ps === true">{{store_choice}}
              <label for="">指定店家名稱</label>
              <br>
              <select v-model="store_name">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              </div>
            </div>
            <div class="row">
              <input type="checkbox" id="checkbox_pi" v-model="checked_pi">
              <label for="checkbox_pi"> 根據特定商品進行活動</label>
              <div v-show="checked_pi === true">{{item_choice}}
              <label for="">指定商品編號</label>
              <br>
                <select v-model="item_name">
                  <option>1 </option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
            </div>
            <div class="row">
              <button  class="button is-danger is-small is-rounded is-light" @click="create_active">建立活動條件</button>
            </div>
          </div>
        </div>
        <div class="column">
          <div v-show="select_content_status===true" class="content">
            <div class="row">
              <input type="checkbox" id="checkbox" v-model="checked_a">
              <label for="checkbox"> 活動 A : 滿額折現 </label>
              <div v-show="checked_a ===true">
              <label>請輸入滿額條件金額: {{money_discount_target}} </label>
              <input class="input" type="number" placeholder="請輸入滿額條件金額" v-model="money_discount_target">
              <label for="">請選擇折扣方式</label>
              <br>
              <input type="radio" id="s-y" value="Yes" v-model="money_discount">
              <label for="s-y">滿 {{money_discount_target}} 折 Y 元 </label>
              <br>
              <input type="radio" id="s-n" value="No" v-model="money_discount">
              <label for="s-n">滿 {{money_discount_target}} 折扣 Z % </label>
              <br>
              </div>
              <div v-show ="money_discount === 'Yes' && checked_a === true">
                <label for="">請輸入減免金額: {{money_discount_cash}}</label>
                <input class="input" type="number" placeholder="請輸入減免金額" v-model="money_discount_cash">
              </div>
              <div v-show ="money_discount === 'No' && checked_a === true">
                <label for="">請輸入減免折數: {{money_discount_percent}} %</label>
                <input class="input" type="number" placeholder="請輸入減免折數" v-model="money_discount_percent">
              </div>
            </div>
            <div class="row">
              <input type="checkbox" id="checkbox" v-model="checked_b">
              <label for="checkbox"> 活動 B : 滿額免運 </label>
              <div v-show="checked_b ===true">
                <label>請輸入滿額免運金額: {{free_delivery_target}} </label>
                <input class="input" type="number" placeholder="請輸入滿額免運條件金額" v-model="free_delivery_target">
              </div>
            </div>
            <div class="row">
              <input type="checkbox" id="checkbox" v-model="checked_c">
              <label for="checkbox"> 活動 C : 滿額送禮 </label>
              <div v-show="checked_c ===true">
                <label>請輸入滿額送禮金額: {{extra_bonus_target}} </label>
                <input class="input" type="number" placeholder="請輸入滿額送禮條件金額" v-model="extra_bonus_target">
              </div>
            </div>
            <div class="row" v-if="conditionstatus=== true && checked_ps === true ">
              <input type="checkbox" id="checkbox" v-model="checked_d">
              <label for="checkbox"> 活動 D : 特定店優惠 (同商品優惠) </label>
              <div v-show="checked_d ===true">
                <label>請輸入同商品折扣件數: {{ps_target}}</label>
                <input class="input" type="number" placeholder="請輸入滿額條件金額" v-model="ps_target">
                <label for="">請選擇折扣方式</label>
                <br>
                <input type="radio" id="s-y" value="Yes" v-model="ps">
                <label for="s-y">滿 {{ps_target}} 件 折 Y 元</label>
                <br>
                <input type="radio" id="s-n" value="No" v-model="ps">
                <label for="s-n">滿 {{ps_target}} 件 折扣 Z % </label>
                <br>
                <div v-show ="ps === 'Yes' && checked_ps === true">
                  <label for="">請輸入減免金額: {{ps_cash}}</label>
                  <input class="input" type="number" placeholder="請輸入減免金額" v-model="ps_cash">
                </div>
                <div v-show ="ps === 'No' && checked_ps === true">
                  <label for="">請輸入減免折數: {{ps_percent}} %</label>
                  <input class="input" type="number" placeholder="請輸入減免折數" v-model="ps_percent">
                </div>
              </div>
            </div>
            <div class="row" v-if="conditionstatus=== true && checked_pi === true ">
              <input type="checkbox" id="checkbox" v-model="checked_e">
              <label for="checkbox"> 活動 E : 特定商品優惠 </label>
              <div v-show="checked_e ===true">
                <label>請輸入同商品折扣件數: {{pi_target}} </label>
                <input class="input" type="number" placeholder="請輸入滿額條件金額" v-model="pi_target">
                <label for="">請選擇折扣方式</label>
                <br>
                <input type="radio" id="s-y" value="Yes" v-model="pi">
                <label for="s-y">滿 {{pi_target}} 件 折 Y 元</label>
                <br>
                <input type="radio" id="s-n" value="No" v-model="pi">
                <label for="s-n">滿 {{pi_target}} 件 折扣 Z % </label>
                <br>
                <div v-show ="pi === 'Yes' && checked_pi === true">
                  <label for="">請輸入減免金額: {{pi_cash}}</label>
                  <input class="input" type="number" placeholder="請輸入減免金額" v-model="pi_cash">
                </div>
                <div v-show ="pi === 'No' && checked_pi === true">
                  <label for="">請輸入減免折數: {{pi_percent}} %</label>
                  <input class="input" type="number" placeholder="請輸入減免折數" v-model="pi_percent">
                </div>
              </div>
            </div>
            <div class="row" v-else></div>
            <div class="row">
              <button  class="button is-success is-small is-rounded is-light" @click="create_content">建立活動內容</button>
            </div>
          </div>
        </div>
        <div class="column">
          <div v-if="create_name_status===true" class="active_information">
             <h1> 詳細資訊如下 : 活動名稱 : {{activename}} </h1>
          </div>
          
          <div class="row">
            <div v-show="conditionstatus === true" class="condition_information">
             <h3>活動條件設定如下:</h3>
             <ul v-for="(record, index) in active_condition_content">               
              <li> 條件 {{index+1}} :  {{record.name}} => {{record.values}} </li>
             </ul>
            </div>
            <div v-show="activestatus === true" class="content_information">
              <h3>活動內容選擇如下:</h3>
                <ul v-if="checked_a===true">活動A:滿額折現
                  <li v-if="money_discount==='Yes'"> 滿 {{money_discount_target}} 折 {{money_discount_cash}} 元</li>
                  <li v-else> 滿 {{money_discount_target}} 折扣 {{money_discount_percent}} %</li>
                </ul>
                <ul v-if="checked_b===true">活動B:滿額免運 => 滿{{free_delivery_target}}免運</ul>                   
                <ul v-if="checked_c===true">活動C:滿額送禮 => 滿{{extra_bonus_target}}送禮</ul>
                <ul v-if="checked_d===true">活動D:特定店優惠(同商品優惠) => 滿 {{ps_target}} 件含以上
                  <li v-if="ps==='Yes'"> 滿 {{ps_target}} 件含以上 折 {{ps_cash}} 元</li>
                  <li v-else> 滿 {{ps_target}} 件含以上 折扣 {{ps_percent}} %</li>
                </ul>
                <ul v-if="checked_e===true">活動E:特定商品優惠 => 滿 {{pi_target}} 件含以上 
                  <li v-if="pi==='Yes'"> 滿 {{pi_target}} 件含以上 折 {{pi_cash}} 元</li>
                  <li v-else> 滿 {{pi_target}} 件含以上 折扣 {{pi_percent}} %</li>
                </ul>
            </div>
         </div>
        </div>
    </div>
   </div>
</body>
</html>